/** OFF CANVAS **/
$offCanvasBreakpoint:           500px;

/** EATER **/

$eaterWidth:                    960px;
$eaterItems:                    4;

/** SLIDEABLE **/

$slideableTransitionTime:       0.5s!default;
$slideableTransitionFunction:   ease!default;


/** TABLE **/

$tableBreakpoint:               $offCanvasBreakpoint;