/** EATER **/

$eaterWidth: 					960px;
$eaterItems: 					4;

/** SLIDEABLE **/

$slideableTransitionTime:       0.5s!default;
$slideableTransitionFunction:   ease!default;


/** TABLE **/

$tableBreakpoint:               500px;