@media only screen and (max-width: 500px) {
  
  /* Force table to not be like tables anymore */
  .table table, 
  .table thead, 
  .table tbody, 
  .table th, 
  .table td, 
  .table tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  .table thead tr { 
    position: absolute;
    top: -100%;
    left: -100%;
  }

  .table-bordered {
    border: 0;
  }
 
  .table tr { border: 1px solid #ccc; margin-bottom: 1px}
 
  .table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }
 
  .table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
 
  /* label the data */
  .table td:before { content: attr(data-title); }
}